<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="color: #007BFF;">
      Cerchio
      <ion-icon name="help-outline" style="float: right;" (click)="goToInfoPage()"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cerchio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <canvas #myCanvas
          (mousedown)="onMouseDown($event)"
          (mousemove)="onMouseMove($event)"
          (mouseup)="onMouseUp()"
          (mouseleave)="onMouseLeave()"
          (touchstart)="onTouchStart($event)"
          (touchmove)="onTouchMove($event)"
          (touchend)="onTouchEnd()"
          (touchcancel)="onTouchCancel()"
          style="border:1px solid #000;">
    </canvas>
  </div>
  <div *ngIf="isVisible" class="risultato" (click)="hideHeader()">
    <h1 (click)="hideHeader()" (touchstart)="hideHeader()">{{precisione}}%</h1>
  </div>  
</ion-content>
